{% extends "voluntarios/base.html" %}
{% load bootstrap %}
{% load humanize %}
{% load cropping thumbnail %}

{# pongo los mensajes más cerca del formulario #}
{% block messages %}{% endblock  %}
{% block body %}
    <h1 class="page-header">Agregar sucursal</h1>
     <p class="lead">
        Necesitamos conocer todas las sucursales del país, así podremos
        recibir y enviar precios más precisos.
        Además, nos servirá para hacer estadísticas. Por ejemplo <strong> ¿Cuál cadena de super aumentó más los precios en tu ciudad?</strong>.
    </p>
    <p class="lead">
        Tratá de poner la dirección con precisión y luego, si hacer falta, corregí la ubicación en el mapita.
    </p>
    {% include "_messages.html" %}

<div class="row">
    <div class="col-lg-5">
        <h3>Agregar una nueva sucursal</h3>
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_sucursal|bootstrap }}
            <input class="btn btn-primary btn-lg" type="submit" name="btn_form_sucursal" value="Agregar esta sucursal" />
        </form>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">¿No está la cadena de supermercados que buscás?</div>
            <div class="panel-body">
                 <form method="post" action="." enctype="multipart/form-data" >
                     {% csrf_token %}
                     {{ form_cadena|bootstrap }}
                     <input class="btn btn-primary" type="submit" name="btn_form_cadena" value="Agregar" />
                 </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>Votar actividad recientemente
            </div>
            <div class="panel-body">
                <ul class="chat">
                    {% for item in creados %}
                    <li class="left clearfix">
                    <span class="chat-img pull-left">
                        <p>
                        <button title="Parece correcto" class="btn btn-success btn-circle vot_yes" data-pk="{{ item.id }}" type="button">
                            <i class="fa fa-check"></i>
                        </button>
                        </p>
                        <p>
                        <button title="Parece incorrecto" class="btn btn-danger btn-circle vot_no" data-pk="{{ item.id }}" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        </p>
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{ item.user.username }} </strong>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> {{ item.created|naturaltime }}
                            </small>
                        </div>
                        <p>
                        {% if item.sucursal %}
                            creó la sucursal <strong>{{ item.sucursal.nombre }}</strong>
                            perteneciente a <strong>{{ item.sucursal.cadena.nombre }}</strong>
                        {% else %}
                            creó la cadena de supermercados
                            <strong>{{ item.cadena.nombre }}</strong>
                        {% endif %}
                        </p>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
           </div><!-- /.panel-body -->
        </div>
    </div>
</div>

{% endblock body %}
{% block extra_footer %}
    <script type="text/javascript">

    $(function(){
    // Make a javascript Autocomplete object and set it up
    var autocomplete2 = $('#id_nombre').yourlabsAutocomplete({
        url: '{% url "autocomplete_nombre_sucursal" %}',
    });

    $('button.vot_yes').on('click', function(){
        var $but = $(this);
        var pk = $but.data('pk');
        $.post('./voto/' + pk + '/',
               {'voto': true, 'model': 'voluntarios.SucursalCadenaCreada'},
               function(response){
                   if (response.result){
                       $but.parents('.left').fadeOut();
                   }
               }
        );
    });

    $('button.vot_no').on('click', function(){
        var $but = $(this);
        var pk = $but.data('pk');
        $.post('./voto/' + pk + '/', {'voto': false, 'model':
          'voluntarios.SucursalCadenaCreada'}, function(response){
            if (response.result){
                $but.parents('.left').fadeOut();
            }
        });
    });







    $('input[name="direccion"], #id_ciudad').on('change', function(data){
        var url = './geo_code/?ciudad=' + $('#id_ciudad').val() +  '&direccion=' + $('#id_direccion').val();

        var epsg4326 = new OpenLayers.Projection("EPSG:4326");
        var epsg900913 = new OpenLayers.Projection("EPSG:900913");

        var layer = map_ubicacion.map.layers[1];
        // http://jsfiddle.net/_DR_/SMnUJ/
        drag = new OpenLayers.Control.DragFeature(layer, {
               autoActivate: true,
        });
        map_ubicacion.map.addControl(drag);

        $.get(url, function(data){
            if (data){

            var center = new OpenLayers.LonLat(data.lon, data.lat).transform(epsg4326, epsg900913);
            var point = new OpenLayers.Geometry.Point(center.lon,center.lat);
            layer.addFeatures([new OpenLayers.Feature.Vector(point)]);
            if (data.direccion){
                var zoom = 16;
            }else{
                var zoom = 15;
            }
            map_ubicacion.map.setCenter(center, 15);
            }
        });
    });


    });

    </script>
{% endblock extra_footer %}
