{% extends "voluntarios/base.html" %}

{% block body_top %}{% endblock body_top %}
{% block body %}
    <h1 class="page-header">Panel de voluntarios</h1>

    <p class="lead">
            ¡Buenísimo que estés acá! Estamos convencidos de que la mejor forma de hacer <strong>Preciosa</strong> es entre tod@s.

            Este es el <strong>panel de voluntarios</strong>, desde donde podés colaborar en distintas tareas que tienen que ver con el <strong> mejoramiento de datos </strong>. </p>

        <p class="lead">
            No hace falta que hagas todo, ni de una sola vez. ¡Cualquier ratito que tengas nos viene bien!
        </p>


    {% if user.is_authenticated %}



        <div class="row">

            <div class="col-lg-6">
                <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-folder-o"></i> Asociar categorías</h3>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>
                                Esta tarea se trata de encontrar la mejor categoría para grupos de productos que no sabemos dónde poner.
                            </p>
                        <a class="btn btn-primary btn-lg btn-success btn-block" href="{% url 'mapa_categorias' %}">Entrar a asociar categorías</a>

                        </div>
                        <!-- /.panel-body -->
                </div>

            </div>
            <div class="col-lg-6">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-camera"></i> Logos</h3>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>
                               Conocemos muchas marcas y empresas por sus nombres, pero no tuvimos tiempo de encontrar sus logos.
                            </p>
                        <a class="btn btn-primary btn-lg btn-block" href="{% url 'logos' %}">Adjuntar logos</a>

                        </div>
                        <!-- /.panel-body -->
                </div>
            </div>

        </div>  <!-- /.row -->

        <div class="row">

        <div class="col-lg-6">
            <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-plus-square"></i> Agregar marcas</h3>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <p>
                            Para poder hacer análisis estadísticos, necesitamos conocer todas las marcas posibles.
                            ¿Nos ayudás agregando algunas?
                        </p>
                    <a class="btn btn-primary btn-lg btn-block btn-warning" href="{% url 'alta_marca' %}">Agregar nuevas marcas</a>

                    </div>
                    <!-- /.panel-body -->
            </div>

        </div>
        <div class="col-lg-6">
              <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Otras maneras de ayudar</h3>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">


                        <div id="accordion" class="panel-group">

                            <div class="panel panel-default">
                                    <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">Soy Diseñador/a</a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseTwo">
                                        <div class="panel-body">

                                        <p>
                                            ¡Hay mucho en lo que podés ayudar! Por ejemplo, hacer más bonito el sitio, ayudarnos con la aplicación o móvil o armar material gráfico para las redes sociales.
                                        </p>
                                        <p>
                                           Mandanos <a class="msg" data-subject="Hola, sé diseñar" href="#">un mensaje</a> o <a href="mailto:laferrer@gmail.com">mandá un email a Luciano</a>, que es quien coordina esta tarea.
                                        </p>


                                        </div>
                                    </div>
                                </div>
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse">Soy Programador/a</a>
                                </h4>
                            </div>
                                    <div class="panel-collapse collapse" id="collapseOne">
                                        <div class="panel-body">
                                            <p> ¡Excelente! Preciosa es <a href="https://github.com/mgaitan/preciosa"> software libre</a> y nos faltan manos en el código. No importa los lenguajes que sepas, seguro podrás ayudar.
                                                </p>
                                            <p>Anotate en el <a href="https://groups.google.com/forum/?fromgroups#!forum/preciosa-devs">grupo de desarrollo</a> y mandá un mensaje presentándote y contándonos en qué te gustaría ayudar. Siempre hay una <a href="https://github.com/mgaitan/preciosa/issues">lista de tareas</a> a realizar disponible</p>.



                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse">Tengo información útil</a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapseThree">
                                        <div class="panel-body">
                                            <p>Hay mucha data que nos viene muy bien, como listas de productos con código de barra (aún si no tiene precios actualizados) o direcciones de supermercados.
                                            </p>
                                            <p>
                                            Si tenés algo de esto en cualquier formato envianos <a class="msg" data-subject="Tengo datos que interesantes" href="#">un mensaje</a> o <a href="mailto:gaitan@gmail.com">escrible a Martín</a>, que es quien coordina esta tarea.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>


                    </div>
                    <!-- /.panel-body -->
            </div>


        </div>

    </div>  <!-- /.row -->



    {% else %}



        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}


        <p class="lead">Para empezar tenés que <a href="{{ signup_url }}" class="btn btn-primary">registrarte</a> o <a href="{{ login_url }}?next={% url "voluntarios_dashboard" %}" class="btn btn-primary">iniciá tu sesión</a>.

        </p>

        <p class="lead">¡Gracias por colaborar con Preciosa! De esto se trata la inteligencia colectiva contra la inflación</p>


    {% endif %}


{% endblock body %}

{% block extra_footer %}
    {{ block.super }}

    <script type="text/javascript">

        $(function(){
            $('a.msg').on('click', function(e){
                e.preventDefault();
                $('#feedback_button').click();

                $('input[name="subject"]').val($(this).data('subject'));
                $('textarea[name="text"]').focus();
            });
        });
    </script>

{% endblock extra_footer %}
