{% extends "base.html" %}
{% load bootstrap %}
{% load cropping thumbnail %}

{# pongo los mensajes más cerca del formulario #}
{% block messages %}{% endblock  %}
{% block body %}


    <h1 class="page-header">Subir logos</h1>


     <p class="lead">
        En <strong>Preciosa</strong> conocemos muchas marcas y empresas por sus nombres, pero no tuvimos tiempo de encontrar sus logos. </p>

    <p class="lead">
        Para subir un logo, primero <a href="https://www.google.com.ar/search?q={{ marca.nombre|iriencode }}%20logo&source=lnms&tbm=isch">buscálo en internet</a> y subilo. En un segundo paso lo podés recortar para que quede bonito. <strong>¡Gracias por ayudar!</strong>
    </p>


    {% include "_messages.html" %}


    <h4>Tenés que buscar el logo para</h4>

        <p class="lead">{{ instance.nombre }}</p>


    <form method="post" id="cropping_form" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="hidden" name="instance_id" value="{{ instance.id}}" />

        {% if paso == '1' %}

            <input class="btn btn-primary btn-lg" type="submit" value="Subir este logo" />
            <a class="btn btn-default" href="{% url 'logos' %}">No lo encontré, paso</a>

        {% else %}
            <input class="btn btn-primary btn-lg" type="submit" value="Recortar" />
        {% endif %}

    </form>
{% endblock body %}


{% block extra_footer %}
    {# esto es un hack porque  django-image-cropping necesita si o si
       ambos fields para funcionar.
       simplemente oculto dinámicamente el que no corresponda al "paso" #}
    <script type="text/javascript">
        $(function(){
            var paso = {{ paso }};
            if (paso === 1){
                // ocultamos la interfaz de cropping
                $('#id_logo_cropped').parents('.form-group').hide();
            } else{
                $('#id_logo').parents('.form-group').hide();
            }
        });
    </script>

{% endblock extra_footer %}

