{% extends "voluntarios/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load cropping thumbnail %}

{# pongo los mensajes más cerca del formulario #}
{% block messages %}{% endblock  %}
{% block body %}


    <h1 class="page-header">Subir logos</h1>


     <p class="lead">
        En <strong>Preciosa</strong> conocemos muchas marcas y empresas por sus nombres, pero no tuvimos tiempo de encontrar sus logos. </p>

    <p class="lead">
        Para subir un logo, primero tenés que buscarlo en internet (si podés, de más de 300px de ancho) y subirlo. En un segundo paso lo podés recortar para que quede bonito. <strong>¡Gracias por ayudar!</strong>
    </p>


    {% include "_messages.html" %}



<div class="row"><div class="col-lg-5">

    <div class="alert alert-warning">
        <h4>Tenés que buscar el logo para la marca:</h4>
            <p class="lead text-center">{{ instance.nombre }}</p>

            <p class="text-center"><a href="https://www.google.com.ar/search?q={{ instance.nombre|iriencode }}%20logo&source=lnms&tbm=isch" target="_blank">buscar</a></p>
    </div>

<p>
<button type="button" id="ayuda" class="btn btn-outline btn-primary btn-sm pull-right" data-toggle="modal" data-target="#ayudaModal" ><i class="fa fa-info-circle"></i> ¿Necesitás ayuda?</button></p>


</div> </div>




    <form method="post" id="cropping_form" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="hidden" name="instance_id" value="{{ instance.id}}" />

        {% if paso == '1' %}

            <input class="btn btn-primary btn-lg" type="submit" value="Subir este logo" />
            <a class="btn btn-default" href="{% url 'logos' %}">No lo encontré, paso</a>

        {% else %}
            <input class="btn btn-primary btn-lg" type="submit" value="Recortar" />
        {% endif %}

    </form>


<div class="modal fade" id="ayudaModal" tabindex="-1" role="dialog" aria-labelledby="ayudaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cómo recortar un logo</h4>
      </div>
      <div class="modal-body">
         <p>Tenés que ajustando elrectángulo de línea punteada, desde los puntos marcados, centrando el logo con un pequeño margen.</p>
         <p><strong>   Por ejemplo:</strong></p>
    <p><img src="{% static 'img/recorte-ejemplo.jpg' %}" /></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endblock body %}


{% block extra_footer %}
    {{ block.super }}

    {% comment %}
     esto es un hack porque  django-image-cropping necesita si o si
       ambos fields para funcionar.
       simplemente oculto dinámicamente el que no corresponda al "paso"
    {% endcomment %}

    <script type="text/javascript">
        $(function(){
            var paso = {{ paso }};
            if (paso === 1){
                // ocultamos la interfaz de cropping
                $('#id_logo_cropped').parents('.form-group').hide();
                $('#ayuda').hide();
            } else{
                $('#id_logo').parents('.form-group').hide();
                $('#ayuda').show();
            }
        });
    </script>

{% endblock extra_footer %}

