<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Desuscripción de {{ newsletter.title }}</title>
</head>
<body>
Hola {{ subscription.name }},

Vos o alguien más solicitó la desuscripción del newsletter {{ newsletter.title }}.

Si querés confirmar tu desuscripción, por favor hacé click en el siguiente link:
http://{{ site.domain }}{{ subscription.unsubscribe_activate_url }}

Si vos no solicitaste la desuscripción o cambiaste de opinión, podés ignorar este mensaje.

Saludos,
{{ newsletter.sender }}
</body>
</html>
