{% extends "base.html" %}
{% load thumbnail %}

{% block cat %}{{ active }}{% endblock cat %}

{% block page-header %}{{ producto.descripcion }}{% endblock %}
{% block body %}


        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-md-2">
                    {% if producto.foto %}
                        <img alt="" src="{{ producto.foto.url }}">
                    {% else %}

                       <p style="margin-top:30px" class="text-center">(todavía no tenemos una foto para este producto)</p>
                    {% endif %}
                    </div>
                    <div class="col-xs-9 col-md-9">
                        <div>
                            <h2>
                                {{ producto.descripcion }}
                            </h2>

                            <dl>
                                <dt>Código UPC</dt>
                                <dd> {{ producto.upc }}</dd>
                            </dl>

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sucursal</th>
                                        <th>Precio</th>
                                        <th>Relevado el</th>
                                    </tr>
                                </thead>
                                {% for precio in producto.precio_set.all %}
                                <tr>
                                <td>{{ precio.sucursal.nombre }}</td>
                                <td>$ {{ precio.precio }}</td>
                                <td>{{ precio.created|date:"d/m/Y" }}</td>
                                </tr>
                                {% endfor %}
                            </table>

                            <br />
                            <h4>Productos similares</h4>
                            <ul class="list-group">
                            {% for prod in prods_similares %}
                            <li class="list-group-item">
                                {% if prod.foto %}<img alt="" src="{{ prod.foto|thumbnail_url:'small' }}">{% endif %}
                                <a href="{{ prod.get_absolute_url }}">{{ prod.descripcion }}</a>
                            </li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% comment %}
                        <div class="comment-text">
                            Awesome design
                        </div>
                        <div class="action">
                            <button title="Edit" class="btn btn-primary btn-xs" type="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button title="Approved" class="btn btn-success btn-xs" type="button">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button title="Delete" class="btn btn-danger btn-xs" type="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            </li>

        </ul>
{% endblock %}
