{% extends "base.html" %}
{% load thumbnail %}

{% block cat %}{{ active }}{% endblock cat %}

{% block page-header %}{{ producto.descripcion }}{% endblock %}
{% block body %}


        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2 col-md-2">
                    {% if producto.foto %}
                        <img alt="" src="{{ producto.foto.url }}">
                    {% else %}

                       <p style="margin-top:30px" class="text-center">(todavía no tenemos   una foto para este producto)</p>
                    {% endif %}
                    </div>
                    <div class="col-xs-9 col-md-9">
                        <div>
                            <h2>
                                {{ producto.descripcion }}
                            </h2>

                            <dl>
                                <dt>Código</dt>
                                <dd> {{ producto.upc }}</dd>
                            </dl>


                            <h2>
                              Últimos precios registrados
                            </h2>

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sucursal</th>
                                        <th>Precio</th>
                                        <th>Relevado el</th>
                                    </tr>
                                </thead>
                                {% for precio in precios %}
                                <tr>
                                <td><strong>{{ precio.sucursal.nombre }}</strong> <br> <p>{{ precio.sucursal.ciudad }}</p> </td>
                                <td>$ {{ precio.precio }}</td>
                                <td><span title="{{ precio.created|date:"d/m/Y h:s" }}">{{ precio.created|timesince }}</span> </td>
                                </tr>
                                {% endfor %}
                            </table>

                            {% if prods_similares %}
                            <br />
                            <h4>Productos similares</h4>
                            <ul class="list-group">
                            {% for prod in prods_similares %}
                            <li class="list-group-item">
                                <img alt="" src="{{ prod.foto|thumbnail_url:'small' }}">
                                <a href="{{ prod.get_absolute_url }}">{{ prod.descripcion }}</a>
                            </li>
                            {% endfor %}
                            </ul>

                            {% endif %}
                        </div>
                        {% comment %}
                        <div class="comment-text">
                            Awesome design
                        </div>
                        <div class="action">
                            <button title="Edit" class="btn btn-primary btn-xs" type="button">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button title="Approved" class="btn btn-success btn-xs" type="button">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button title="Delete" class="btn btn-danger btn-xs" type="button">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            </li>

        </ul>
{% endblock %}
