{# carga el javascript necesario para que el autocompletado del buscador funcione #}
{% load url from future %}
    <script type="text/javascript">
    $(function(){
  // Make a javascript Autocomplete object and set it up
    var autocomplete = $('#buscar').yourlabsAutocomplete({
        url: '{% url "buscador" %}',
    });


    $('#buscar').on('keypress', function(e) {
      if(e.which == 13) {
         window.location.href = $('a.hilight').attr('href');
      }
    });

    });
    </script>