{# carga el javascript necesario para que el autocompletado del buscador funcione #}

<script type="text/javascript">
  $(function(){

    // Make a javascript Autocomplete object and set it up
    var autocomplete = $('#buscar').yourlabsAutocomplete({
      url: '{% url "buscador" %}',
    });

    // Para que funcione el teclado en el buscador de precios
    $('#buscar').bind( 'selectChoice', function(e, choice, autocomplete) {
      window.location.href = $('a.hilight').attr('href');
    });

  });
</script>