{% load staticfiles %}
{# carga el javascript necesario para que el autocompletado del buscador funcione #}

<script src="{% static "js/typeahead.bundle.js" %}"></script>
<script type="text/javascript">

// Instantiate the Bloodhound suggestion engine
var productos = new Bloodhound({
  datumTokenizer: function(datum) {
    return Bloodhound.tokenizers.whitespace(datum.value);
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: {
    wildcard: '%QUERY',
    url: '{% url "buscador" %}?q=%QUERY',
    transform: function(response) {
      // Map the remote source JSON array to a JavaScript object array
      return $.map(response.results, function(producto) {
        return producto
      });
    }
  }
});

$('#buscar').typeahead({
  hint: false,
  highlight: true,
  minLength: 3,
}, {
  display: 'value',
  source: productos
});

$(function() {
  $('#buscar').on('typeahead:selected', function (object, datum) {
     window.location.href = datum.url;
  });
});

</script>
