{# snippet para mostrar una barra de progreso #}

    {% with percent as percent|default:1 %}
    <div>
    <p><strong></strong>
<span class="pull-right text-muted">{{ percent }}% completo</span>
    </p>
    <div class="progress active">
        <div style="width: {{ percent }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-info">
            <span class="sr-only">{{ percent}}% completo</span>
        </div>
    </div>
    </div>
    {% endwith %}